* {
  box-sizing: border-box;
}

body {
 background-color: #232323;
 cursor: crosshair;
  
}

.box {
  width: 250px;
  height: 250px;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}
